apiVersion: v1alpha
kind: cypress
sauce:
  region: eu-central-1 # or us-west-1
  concurrency: 3
  metadata:
    name: Cypress Cross Browser tests
    tags:
      - cypress
      - cross-browser
    build: "Cypress: Cross Browser - $DATE"
docker:
  fileTransfer: mount
cypress:
  version: 7.3.0
  configFile: "cypress.json"  # We determine related files based on the location of the config file.
suites:
  # Chrome
  - name: "Swag Labs Login Chrome"
    browser: "chrome"
    platformName: "Windows 10"
    screenResolution: "1400x1050"
    config:
      testFiles: [ "**/login.*" ]
  # Firefox
  - name: "Swag Labs Login Firefox"
    browser: "firefox"
    platformName: "Windows 10"
    screenResolution: "1400x1050"
    config:
      testFiles: [ "**/login.*" ]
  # MicrosoftEdge
  - name: "Swag Labs Login MicrosoftEdge"
    browser: "microsoftedge"
    platformName: "Windows 10"
    screenResolution: "1400x1050"
    config:
      testFiles: [ "**/login.*" ]
